* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #faebd7;
}

img {
    width: 300px;
    height: auto;
}

.title {
    font-weight: bold;
    font-size: 35px;
    color: black;
    text-align: center;
}

.recipe_cards {
    text-align: center;
    display: block;
    margin: auto;
}

.recipe {
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    background-color: #f5efe6;
    text-align: center;
}