body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    font-size: large;
}

button {
    background-color: aliceblue;
    text-align: center;
    border: 2px solid black;
    width: 100px;
    border-radius: 5%;
}

h1 {
    font-weight: bold;
}

img {
    border-radius: 2%;
}

h2,
h3  {
    text-decoration: underline;
}